@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v21/o-0TIpQlx3QUlC5A4PNr4Az5ZtyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
body {
  background: #1f1f1f;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}
.login-container .text {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 1.7rem;
}
.login-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  background: #383838;
  height: 450px;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  gap: 50px;
  padding: 0 20px;
}
.login-container form .alertbox {
  width: 100%;
  height: 70px;
  border-radius: 9px;
  background: #ff4141;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.login-container form input:not(input[type="checkbox"]) {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: #1f1f1f;
  color: #FFF;
  font-size: 1.2rem;
}
.login-container form input:not(input[type="checkbox"]):focus {
  outline: 2px solid #47ff56;
}
.login-container form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #47ff56;
  border: none;
  border-radius: 5px;
}
