@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v25/o-0TIpQlx3QUlC5A4PNr4Az5ZtyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
body {
  background: #1f1f1f;
  min-height: 100vh;
}
.profile-section {
  display: flex;
  justify-content: none;
  align-items: center;
  transform: translateY(60px);
  position: relative;
  width: 100%;
  min-height: 500px;
  background: #303030;
}
@media screen and (max-width: 720px) {
  .profile-section {
    flex-direction: column;
  }
}
.profile-section .profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.profile-section .profile-avatar .avatar-frame {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (max-width: 720px) {
  .profile-section .profile-avatar .avatar-frame {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 300px) {
  .profile-section .profile-avatar .avatar-frame {
    width: 200px;
    height: 200px;
  }
}
.profile-section .profile-avatar .avatar-frame img {
  width: auto;
  height: 100%;
}
.profile-section .profile-info {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.profile-section .profile-info .badges {
  width: 200px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .profile-section .profile-info .badges {
    width: 100%;
    justify-content: center;
  }
}
.profile-section .profile-info .badges .badge {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.profile-section .profile-info .badges .badge:hover > .box {
  opacity: 1;
}
.profile-section .profile-info .badges .badge img {
  width: 100%;
}
.profile-section .profile-info h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
}
@media screen and (max-width: 720px) {
  .profile-section .profile-info h1 {
    font-size: 2rem;
    text-align: center;
  }
}
.profile-section .profile-info p {
  color: #9c9c9c;
}
@media screen and (max-width: 720px) {
  .profile-section .profile-info p {
    text-align: center;
  }
}
.profile-section .profile-info h2 {
  color: -color;
  cursor: pointer;
}
.profile-section .profile-info h2:hover {
  text-decoration: underline;
}
.profile-section .follow-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20px, -20px);
  width: 200px;
  height: 50px;
  background: #5136C2;
  color: #FFF;
  font-size: 1.2rem;
  border: 2px solid #1a1433;
  cursor: pointer;
  border-radius: 5px;
}
.profile-section .follow-btn.followed {
  background: #6d6d6d;
  border: 2px solid #1f1f1f;
}
.box {
  width: 150px;
  text-align: center;
  min-height: 55px;
  background: #FFF;
  z-index: 99;
  color: #000;
  position: absolute;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.7rem;
  transform: translate(-60px, -75px);
  opacity: 0;
  transition: 0.2s;
  top: 0;
  left: 0;
}
.box #Developer {
  color: #f831ff;
  text-shadow: 0 0 5px #f831ff;
}
.box #Tester {
  color: #5bff76;
  text-shadow: 0 0 5px #5bff76;
}
.box #Early_Access {
  color: #ffe13a;
  text-shadow: 0 0 5px #ffe13a;
}
.box #Verified {
  color: #46a5ff;
  text-shadow: 0 0 5px #46a5ff;
}
@media screen and (max-width: 720px) {
  .follow-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    margin-top: 20px;
  }
}
.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -15px;
  border-top: 15px solid #FFF;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
