@import "../variables.less";

.profile-section {
  .Center(none, center);
  transform: translateY(60px);
  position: relative;
  width: 100%;
  height: 500px;
  background: #303030;
  .profile-avatar {
    .Center(center, center);
    width: 100%;
    height: 100%;
    .avatar-frame {
      display: inline-block;
      position: relative;
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .profile-info {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    .badges{
      width: 200px;
      display: flex;
      align-items: center;
      .badge{
        position: relative;
        width:30px;

        height: 30px;
        margin: 0 10px;
        &:hover > .box{
          opacity: 1;
        }
        img{
          width: 100%;
        }
      }
    }
    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      color: #fff;
      font-size: 3rem;
    }
    p {
      color: #9c9c9c;
    }
    h2{
      color:  -color;
      text-decoration: underline;
      cursor: pointer
    }
  }
  .follow-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20px, -20px);
    width: 200px;
    height: 50px;
    background: @landing-color;
    color: #FFF;
    font-size:1.2rem;
    border: 2px solid #1a1433;
    cursor: pointer;
    border-radius: 5px;
    &.followed{
      background: #6d6d6d;
      border: 2px solid #1f1f1f;
    }
  } 
}

.box {
  #Developer{
    color: #f831ff;
    text-shadow: 0 0 5px #f831ff;
  }
  #Tester{
    color: #5bff76;
    text-shadow: 0 0 5px #5bff76;
  }
  #Early_Access{
    color: #ffe13a;
    text-shadow: 0 0 5px #ffe13a;
  }
  #Verified{
    color: #46a5ff;
    text-shadow: 0 0 5px #46a5ff;
  }
  width: 150px;
  text-align: center;
  min-height: 55px;
  background: #FFF;
  z-index: 99;
  color: #000;
  position: absolute;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: .7rem;
  transform: translate(-60px, -75px);
  opacity: 0;
  transition: 0.2s;
  top: 0;
  left: 0;
}

.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -15px;
  border-top: 15px solid #FFF;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}