@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v21/o-0TIpQlx3QUlC5A4PNr4Az5ZtyE.ttf)
    format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf)
    format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf)
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
body {
  background: #1f1f1f;
  min-height: 100vh;
}
.profile-section {
  display: flex;
  justify-content: none;
  align-items: center;
  transform: translateY(60px);
  position: relative;
  width: 100%;
  height: 500px;
  background: #303030;
}
.profile-section .profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.profile-section .profile-avatar .avatar-frame {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-section .profile-avatar .avatar-frame img {
  width: auto;
  height: 100%;
}
.profile-section .profile-info {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.profile-section .profile-info h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
}
.profile-section .profile-info p {
  color: #9c9c9c;
}
.profile-section .profile-info h2 {
  color: -color;
  text-decoration: underline;
  cursor: pointer;
}
.profile-section .follow-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20px, -20px);
  width: 200px;
  height: 50px;
  background: #5136c2;
  color: #fff;
  font-size: 1.2rem;
  border: 2px solid #ad4c4c;
  cursor: pointer;
  border-radius: 5px;
}
.profile-section .follow-btn.followed {
  background: #6d6d6d;
  border: 2px solid #1f1f1f;
}
