@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v21/o-0TIpQlx3QUlC5A4PNr4Az5ZtyE.ttf)
    format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf)
    format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf)
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
body {
  background: #1f1f1f;
  min-height: 100vh;
}
.person-box {
  position: relative;
  background: #242424;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person-box .main-info {
  display: flex;
  justify-content: none;
  align-items: center;
  height: 100%;
  padding: 0 5px;
  max-width: 180px;
  width: 100%;
}
.person-box .main-info .avatar {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
.person-box .main-info .avatar img {
  width: auto;
  height: 100%;
}
.person-box .main-info p {
  color: #919191;
  transform: translateX(10px);
}
.person-box .follow {
  border: none;
  background: #ff4d4d;
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
}
.person-box .follow.active {
  background: #6d6d6d;
  border: 2px solid #1f1f1f;
}
