@import '../variables.less';

body{
    background: #000;
}

input.signup_file{
    width: 100%;
    cursor: pointer;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.avatar-in-sign{
    width: auto;
    height: 100%;
}