@import "../variables.less";

nav {
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(22, 24, 53, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  .blog-btn {
    border: none;
    height: 30px;
    background: @landing-color;
    color: #fff;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
  }
  .user-profile {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid @landing-color;
    img {
      width: auto;
      height: 100%;
    }
  }
  .avatar-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 130px;
    height: 70px;
    background:#2e2e2e;
    z-index: 30;
    bottom: 0;
    right: 0;
    gap: 5px 0;
    transform: translate(-60px, 60px);
    box-shadow: 0 0 5px;
    padding: 5px 0;
    button{
      height: 100%;
      background: #575757;
      border: none;
      color: #FFF;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        background: #313131;
      }
      .fa-cog,
      .fa-user-circle {
        transform: translateX(-5px);
      }
    }
  }
}
