@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v21/o-0TIpQlx3QUlC5A4PNr4Az5ZtyE.ttf)
    format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf)
    format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf)
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
body {
  background: #1f1f1f;
  min-height: 100vh;
}
.main .password-change-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 20px 0;
  margin-bottom: 20px;
}
.main .password-change-form .go-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 50px;
  border: none;
  bottom: -130px;
  border-radius: 5px;
  font-size: 1.2rem;
  background: #2e2e2e;
  color: #fff;
  cursor: pointer;
}
.main .password-change-form .go-back:hover {
  border: 2px solid #000;
}
.main .password-change-form label {
  color: #fff;
  padding: 10px 0;
}
.main .password-change-form input {
  background: #1a1a1a;
  border: none;
  color: #fff;
  border-radius: 5px;
  height: 50px;
  outline: none;
}
.main .password-change-form .change-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: -130px;
  border-radius: 5px;
  right: 0;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  background: #7eff42;
}
